<footer class="footer">
  <small>
    Developed by D. Lutkin
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "Report Issue", '# '%></li>
    </ul>
  </nav>
</footer>
